@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 50px;
}

.container input{
  width: 70%;
  margin: 10px;
  background-color: rgb(154, 193, 217);
  color: red;
  padding: 10px;
}

.container input::placeholder{
  color: black;
}

button{
  color: blue;
  background-color: burlywood;
  padding: 5px 10px;
}

.profile {
  width: 50vw;
  box-shadow: 1px 1px 10px green;
}

.profli{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}